* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
  }

body {
    background-color: #0A1208;
    color: #FFF;
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    font-size: 25px;
}

h1 {
    color: #0A1208;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    font-size: 90px;
    line-height: 1;
}

h2 {
    font-family: neue-haas-grotesk-display,sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 15px;
}

ul {
    list-style-type: none;
    font-size: 25px;
}

a:link, a:active, a:visited {
    text-decoration: inherit;
    color: inherit;
}

audio {
    transform: scale(0.9);
}

/* ICONS */
.fas {
    color: #0A1208;
    transform: scale(0.7);
}

.divider_01 > .fas {
    color: white;
    transform: rotate(45deg) scale(2);
}

/* DESKTOP */
.container {
  visibility: hidden;
}

.desktop-content {
  margin-top: 300px;
  text-align: right;
}

.desktop-container {
  z-index: 99;
  height: 100vh;
  position: relative;
  margin-right: 130px;
  margin-left: 130px;
}

.desktop-flex {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: auto 13% 22% 30%;
  grid-template-rows: auto 3% auto auto 3% auto auto auto 5% 5%;
}

.desktop-border {
    border: solid 1px white;
}

.desktop-flex p {
    margin: 5px 15px;
}

.desktop-flex h1 {
    margin: 10px 15px;
}

.desktop-flex h2 {
    margin: 10px;
}

.desktop-spacer-100, .desktop-yt-100 {
  grid-column: 1 / span 4;
}

.desktop-yt-100, .desktop-yt-25 {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.desktop-yt-100 iframe, .desktop-yt-25 iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.desktop-spacer-100 > h2 {
  text-align: right;
}

.desktop-spacer-75 {
  grid-column: 2 / span 3;
}

.desktop-copy {
  grid-column: 2 / span 3;
  grid-row: 6 / span 3;
  display: grid;
  place-items: center;
}

.desktop-extra {
  grid-column: 1 / span 4;
}

.desktop-link-spacer {
  grid-column: 1 / span 2;
}

.desktop-link {
  padding-left: 20px;
}

li .fas {
  color: white;
}

.underline {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #fff;
    transition: width .3s;
}

.underline:hover::after {
  width: 82%;
  transition: width .3s;
}

/* CAMERA */
    .mountfuji {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0A1208;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 10;
    }

    .mountfuji:active {
        background-color: #0A1208;
        color: white;
    }

  @media (max-width: 800px) {
    * {
      overflow: hidden;
    }

    .container {
      visibility: visible;
    }
